body{
    margin: 30px;
}

*{
    box-sizing: border-box;
}
.cont{
    background-color: cadetblue;
    max-width: 800px;
    margin: 0 auto;
}

.col{
    float: left;
    padding: 10px;
    background-color: lightgoldenrodyellow;
    border: 1px black solid;
    color: darkred;
    text-align: center;
    
}

.c112{
    width: 8.333333%;
}

.c1112{
    width: 91.666667%;
}

.c16{
    width: 16.666666%
}

.c56{
    width: 83.333334%;
    
}

.c13{
    width: 33.333333%;
}

.c23{
    width: 66.666667%;
}

.c512{
    width: 41.666667%;
}

.c712{
    width: 58.333333%
}

.c12{
    width: 50%;
}

.c14{
    width: 25%;
}

.c34{
    width: 75%;
}

