@font-face {
    font-family: "Noteworthy";
    src: url("../assets/fonts/Noteworthy-Lt.ttf");
}

$selection-color: rgb(207, 204, 204);
$text-color-white: white;
$text-color-blue: #96bcfd;
$text-color-hover: rgb(179, 169, 216);
$text-color-hover-blue: #96bcfd;

::selection {
    background-color: $selection-color;
}

::placeholder {
    font-family: "Noteworthy";
    color: $text-color-white;
    letter-spacing: 2px;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: rgb(32, 32, 32);
}

::-webkit-scrollbar-thumb {
    width: 7px;
    background-color: rgb(56, 56, 56);
}

:root {
    img {
        user-select: none;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noteworthy";
    scrollbar-width: thin;
}

header {
    nav {
        .navbar {
            width: 100%;
            height: 70px;
            display: flex;
            align-items: center;
            background-color: black;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

            .back-link {
                height: 29px;
                margin-left: 30px;

                .back-arrow {
                    width: 40px;
                    height: auto;
                    fill: white;
                    cursor: pointer;

                    &:hover {
                        fill: rgb(179, 169, 216);
                    }
                }
            }

            .top-text {
                font-size: 38px;
                margin: -9px 0 0 30px;
                text-align: center;

                a {
                    color: $text-color-white;
                    text-decoration: none;

                    &:hover {
                        color: $text-color-hover;
                    }

                    &:visited {
                        text-decoration: none;
                    }
                }
            }

            input[type=text] {
                position: absolute;
                right: 150px;
                width: 270px;
                height: 35px;
                background-color: rgba($color: #000000, $alpha: 0.0);
                background-image: url('../assets/images/svg/search.svg');
                background-size: 26px;
                background-repeat: no-repeat;
                background-position-x: 250px;
                background-position-y: 6px;
                outline: none;
                border: 2px solid white;
                caret-color: $text-color-white;
                color: $text-color-white;
                border-radius: 20px;
                padding-left: 20px;
                font-size: 15px;
            }

            .top-options-wrapper {
                color: $text-color-white;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                position: absolute;
                right: 20px;

                .language-selection {
                    padding-left: 10px;
                    padding-bottom: 22px;
                    margin-bottom: 0px;
                    font-size: 20px;
                    cursor: pointer;

                    &:hover {
                        color: $text-color-hover;
                    }
                }

                .vertical-bar {
                    width: 2px;
                    height: 25px;
                    margin-bottom: 4px;
                    border-radius: 5px;
                    background-color: white;
                }

                .location-selection {
                    padding-right: 10px;
                    padding-left: 40px;
                    padding-bottom: 22px;
                    margin-bottom: 0px;
                    font-size: 20px;
                    cursor: pointer;

                    &:hover {
                        color: $text-color-hover;
                    }
                }
            }
        }

        .locations-wrapper {
            width: 224px;
            height: 520px;
            background-color: black;
            position: absolute;
            right: 0px;
            top: 70px;
            display: none;
            z-index: 2;

            .section-1 {
                height: 100%;
                width: 295px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                display: none;

                p {
                    text-align: center;
                    margin-bottom: 0px;
                    margin-top: 7px;
                    color: $text-color-white;
                    cursor: pointer;

                    &:hover {
                        color: $text-color-hover;
                    }
                }
            }

            .vertical-separator {
                width: 1px;
                height: 85%;
                background-color: #fff;
                margin-top: calc(15% / 2);
                border-radius: 2px;
                display: none;
            }

            .inner-wrapper {
                height: 100%;
                width: 224px;
                display: flex;
                flex-direction: column;

                .section-2 {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    height: 120px;

                    p {
                        text-align: center;
                        margin-bottom: 0px;
                        margin-top: 7px;
                        color: $text-color-white;
                        cursor: pointer;

                        &:hover {
                            color: $text-color-hover;
                        }
                    }
                }

                .horizontal-separator {
                    width: 70%;
                    height: 1px;
                    background-color: #fff;
                    margin-left: calc(30% / 2);
                    border-radius: 2px;
                }

                .section-3 {
                    padding-top: 30px;

                    p {
                        text-align: center;
                        margin-bottom: 10px;
                        margin-top: 15px;
                        color: $text-color-white;
                        font-size: 20px;
                        cursor: pointer;

                        &:hover {
                            color: $text-color-hover;
                        }
                    }
                }
            }
        }

        .languages-wrapper {
            width: 130px;
            background-color: black;
            position: absolute;
            right: 0px;
            display: none;
            z-index: 2;

            ul {
                padding-left: 40px;

                li {
                    list-style-type: none;
                    color: $text-color-white;
                    cursor: pointer;

                    p {
                        text-align: left;
                        margin-bottom: 0px;
                        margin-top: 8px;

                        &:hover {
                            color: $text-color-hover;
                        }
                    }
                }
            }
        }
    }
}

main {
    .main-content-wrapper {
        display: grid;
        padding: 50px;
        grid-template-columns: 1fr 3fr;
        gap: 20px;
        transition: ease-in-out .3s;

        .title {
            text-align: center;
            width: max-content;
            margin-bottom: 0px;
            margin-top: 0px;
            font-size: 30px;
            font-weight: bold;
            color: black;
        }

        .favourite {
            height: 30px;
            width: auto;
            justify-self: end;
            align-self: center;
            opacity: 0.5;
            cursor: pointer;
        }

        .images-wrapper {
            background-color: #e1e1e1;
            display: flex;
            flex-direction: column;
            position: relative;

            &:before {
                content: "";
                display: block;
                padding-top: 100%;
            }

            .content {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                svg {
                    height: 40px;
                    width: auto;
                }

                .left-arrow {
                    justify-self: start;
                    align-self: center;
                    margin-left: 10px;
                    transform: rotate(180deg);
                    cursor: pointer;

                    &:hover {
                        fill: #96bcfd;
                    }
                }

                .dots {
                    width: 40px;
                    justify-self: center;
                    align-self: end;
                }

                .right-arrow {
                    justify-self: end;
                    align-self: center;
                    margin-right: 10px;
                    cursor: pointer;

                    &:hover {
                        fill: #96bcfd;
                    }
                }
            }
        }

        .desc-wrapper {
            width: 100%;
            padding: 30px 20px 20px 20px;

            p {
                margin: 0;
                font-size: 1.2vw;
            }
        }

        .contacts-wrapper {
            width: calc(100% - 30px);
            height: 130px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 10px 0 80px 30px;

            .inner-wrapper {
                display: flex;
                align-items: center;

                svg {
                    width: 25px;
                    height: auto;
                    margin-right: 20px;
                }

                p {
                    width: max-content;
                    margin-bottom: 0px;
                    margin-top: 0px;
                    font-size: 20px;
                    color: black;

                    span {
                        font-weight: bold;
                        cursor: pointer;

                        &:hover {
                            color: $text-color-hover-blue;
                        }
                    }
                }
            }
        }

        .info-wrapper {
            width: 400px;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px 0 80px 20px;

            .inner-wrapper {
                display: flex;
                align-items: center;

                svg {
                    height: 25px;
                    width: auto;
                    margin-right: 20px;
                }

                p {
                    width: max-content;
                    margin-bottom: 0px;
                    margin-top: 0px;
                    font-size: 20px;
                    color: black;
                }
            }
        }

    }

    .place-ad {
        width: 120px;
        height: 120px;
        background-color: black;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16), 0 5px 8px rgba(0, 0, 0, 0.23);
        border-radius: 50%;
        position: fixed;
        right: 20px;
        bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transition: ease-in-out .3s;
        cursor: pointer;

        img {
            filter: invert(1);
            width: 50%;
            height: auto;
            transition: ease-in-out .6s;
        }

        &:hover img {
            transition: ease-in-out .6s;
            transform: rotate(180deg);
        }

        @media only screen and (max-width: 1440px) {
            width: 100px;
            height: 100px;
        }

        @media only screen and (max-width: 1024px) {
            width: 80px;
            height: 80px;
        }
    }
}