@font-face {
  font-family: "Noteworthy";
  src: url("../assets/fonts/Noteworthy-Lt.ttf");
}

::-moz-selection {
  background-color: #cfcccc;
}

::selection {
  background-color: #cfcccc;
}

::-webkit-input-placeholder {
  font-family: "Noteworthy";
}

:-ms-input-placeholder {
  font-family: "Noteworthy";
}

::-ms-input-placeholder {
  font-family: "Noteworthy";
}

::placeholder {
  font-family: "Noteworthy";
}

input[name=search]::-webkit-input-placeholder {
  color: white;
  letter-spacing: 2px;
}

input[name=search]:-ms-input-placeholder {
  color: white;
  letter-spacing: 2px;
}

input[name=search]::-ms-input-placeholder {
  color: white;
  letter-spacing: 2px;
}

input[name=search]::placeholder {
  color: white;
  letter-spacing: 2px;
}

:root img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noteworthy";
  overflow: hidden;
}

header nav .navbar {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: black;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

header nav .navbar .top-text {
  font-size: 38px;
  margin: -9px 0 0 30px;
  text-align: center;
}

header nav .navbar .top-text a {
  color: white;
  text-decoration: none;
}

header nav .navbar .top-text a:hover {
  color: #b3a9d8;
}

header nav .navbar .top-text a:visited {
  text-decoration: none;
}

header nav .navbar input[type=text] {
  position: absolute;
  right: 150px;
  width: 270px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../assets/images/svg/search.svg");
  background-size: 26px;
  background-repeat: no-repeat;
  background-position-x: 250px;
  background-position-y: 6px;
  outline: none;
  border: 2px solid white;
  caret-color: white;
  color: white;
  border-radius: 20px;
  padding-left: 20px;
  font-size: 15px;
}

header nav .navbar .top-options-wrapper {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  position: absolute;
  right: 20px;
}

header nav .navbar .top-options-wrapper .language-selection {
  padding-left: 10px;
  padding-bottom: 22px;
  margin-bottom: 0px;
  font-size: 20px;
  cursor: pointer;
}

header nav .navbar .top-options-wrapper .language-selection:hover {
  color: #b3a9d8;
}

header nav .navbar .top-options-wrapper .vertical-bar {
  width: 2px;
  height: 25px;
  margin-bottom: 4px;
  border-radius: 5px;
  background-color: white;
}

header nav .navbar .top-options-wrapper .location-selection {
  padding-right: 10px;
  padding-left: 40px;
  padding-bottom: 22px;
  margin-bottom: 0px;
  font-size: 20px;
  cursor: pointer;
}

header nav .navbar .top-options-wrapper .location-selection:hover {
  color: #b3a9d8;
}

header nav .locations-wrapper {
  width: 224px;
  height: 520px;
  background-color: black;
  position: absolute;
  right: 0px;
  top: 70px;
  display: none;
  z-index: 2;
}

header nav .locations-wrapper .section-1 {
  height: 100%;
  width: 295px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: none;
}

header nav .locations-wrapper .section-1 p {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 7px;
  color: white;
  cursor: pointer;
}

header nav .locations-wrapper .section-1 p:hover {
  color: #b3a9d8;
}

header nav .locations-wrapper .vertical-separator {
  width: 1px;
  height: 85%;
  background-color: #fff;
  margin-top: calc(15% / 2);
  border-radius: 2px;
  display: none;
}

header nav .locations-wrapper .inner-wrapper {
  height: 100%;
  width: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav .locations-wrapper .inner-wrapper .section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 120px;
}

header nav .locations-wrapper .inner-wrapper .section-2 p {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 7px;
  color: white;
  cursor: pointer;
}

header nav .locations-wrapper .inner-wrapper .section-2 p:hover {
  color: #b3a9d8;
}

header nav .locations-wrapper .inner-wrapper .horizontal-separator {
  width: 70%;
  height: 1px;
  background-color: #fff;
  margin-left: calc(30% / 2);
  border-radius: 2px;
}

header nav .locations-wrapper .inner-wrapper .section-3 {
  padding-top: 30px;
}

header nav .locations-wrapper .inner-wrapper .section-3 p {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 15px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

header nav .locations-wrapper .inner-wrapper .section-3 p:hover {
  color: #b3a9d8;
}

header nav .languages-wrapper {
  width: 130px;
  background-color: black;
  position: absolute;
  right: 0px;
  top: 70px;
  display: none;
  z-index: 2;
}

header nav .languages-wrapper ul {
  padding-left: 40px;
}

header nav .languages-wrapper ul li {
  list-style-type: none;
  color: white;
  cursor: pointer;
}

header nav .languages-wrapper ul li p {
  text-align: left;
  margin-bottom: 0px;
  margin-top: 8px;
}

header nav .languages-wrapper ul li p:hover {
  color: #b3a9d8;
}

main .left-menu {
  position: absolute;
  top: 70px;
  width: 300px;
  height: calc(100vh - 70px);
  background-color: black;
  overflow-y: scroll;
  scrollbar-width: thin;
  padding-left: 20px;
}

main .left-menu::-webkit-scrollbar {
  width: 7px;
  background-color: #464646;
}

main .left-menu::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: #757575;
}

main .left-menu::-webkit-scrollbar-thumb:active {
  background-color: #636363;
}

main .left-menu input[type=text]::-moz-selection {
  opacity: 0.9;
  background-color: #b3a9d8;
}

main .left-menu input[type=text]::selection {
  opacity: 0.9;
  background-color: #b3a9d8;
}

main .left-menu .type-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .left-menu .type-wrapper p {
  color: white;
  font-size: 26px;
  margin-bottom: 5px;
}

main .left-menu .type-wrapper label {
  color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}

main .left-menu .type-wrapper label:hover {
  color: #b3a9d8;
}

main .left-menu .type-wrapper label input {
  margin-right: 10px;
  cursor: pointer;
}

main .left-menu .distance-wrapper p {
  color: white;
  font-size: 19px;
  margin-bottom: 5px;
}

main .left-menu .distance-wrapper .inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .left-menu .distance-wrapper .inner-wrapper #miles,
main .left-menu .distance-wrapper .inner-wrapper #zip {
  width: 45px;
  height: 20px;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
  margin-right: 10px;
  outline: none;
}

main .left-menu .distance-wrapper .inner-wrapper img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 25px;
  height: auto;
  cursor: pointer;
}

main .left-menu .price-wrapper p {
  color: white;
  font-size: 19px;
  margin-bottom: 5px;
}

main .left-menu .price-wrapper .inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .left-menu .price-wrapper .inner-wrapper #price-from,
main .left-menu .price-wrapper .inner-wrapper #price-to {
  width: 45px;
  height: 20px;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
  margin-right: 10px;
  outline: none;
}

main .left-menu .bedrooms-wrapper p,
main .left-menu .bathrooms-wrapper p {
  color: white;
  font-size: 19px;
  margin-bottom: 5px;
}

main .left-menu .bedrooms-wrapper #bed-num,
main .left-menu .bedrooms-wrapper #bath-num,
main .left-menu .bathrooms-wrapper #bed-num,
main .left-menu .bathrooms-wrapper #bath-num {
  width: 45px;
  height: 20px;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
  margin-right: 10px;
  outline: none;
}

main .left-menu .area-wrapper p {
  color: white;
  font-size: 19px;
  margin-bottom: 5px;
}

main .left-menu .area-wrapper #area-from,
main .left-menu .area-wrapper #area-to {
  width: 45px;
  height: 20px;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
  margin-right: 10px;
  outline: none;
}

main .left-menu .availability-wrapper p {
  color: white;
  font-size: 19px;
  margin-bottom: 5px;
}

main .left-menu .availability-wrapper .inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .left-menu .availability-wrapper .inner-wrapper p {
  color: white;
  font-size: 15px;
  margin-bottom: 5px;
  margin-right: 15px;
  margin-top: 3px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}

main .left-menu .availability-wrapper .inner-wrapper p:hover {
  color: #b3a9d8;
}

main .left-menu .other-options-wrapper .inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .left-menu .other-options-wrapper .inner-wrapper img {
  width: 10px;
  height: auto;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: ease-in-out .6s;
  transition: ease-in-out .6s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

main .left-menu .other-options-wrapper .inner-wrapper p {
  color: white;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 7px;
  margin-bottom: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}

main .left-menu .other-options-wrapper .inner-wrapper p:hover {
  color: #b3a9d8;
}

main .left-menu .other-options-wrapper .checkboxes-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

main .left-menu .other-options-wrapper .checkboxes-wrapper label {
  color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}

main .left-menu .other-options-wrapper .checkboxes-wrapper label:hover {
  color: #b3a9d8;
}

main .left-menu .other-options-wrapper .checkboxes-wrapper label input {
  margin-right: 10px;
  cursor: pointer;
}

main .left-menu .other-options-wrapper .options,
main .left-menu .other-options-wrapper .housing-type,
main .left-menu .other-options-wrapper .laundry,
main .left-menu .other-options-wrapper .parking,
main .left-menu .other-options-wrapper .other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .left-menu .controls-wrapper {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  background-color: black;
}

main .left-menu .controls-wrapper #reset,
main .left-menu .controls-wrapper #update {
  width: 70px;
  height: 25px;
  border: none;
  background-color: white;
  color: black;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
  font-weight: bold;
  font-family: "Noteworthy";
  line-height: 2;
  cursor: pointer;
}

main .left-menu .controls-wrapper #reset:active,
main .left-menu .controls-wrapper #update:active {
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
  background-color: #727272;
}

main .main-content-wrapper {
  position: absolute;
  top: 70px;
  left: 320px;
  height: calc(100vh - 70px - 70px);
  width: calc(100% - 320px - 100px - 100px);
  padding: 70px 100px 0 100px;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

main .main-content-wrapper .controls-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-left: 10px;
  padding-right: 25px;
}

main .main-content-wrapper .controls-wrapper .sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: start;
  -ms-flex-item-align: center;
      align-self: center;
}

main .main-content-wrapper .controls-wrapper .sorting p {
  font-size: 21px;
  margin-top: 0px;
  margin-right: 12px;
  margin-bottom: 0px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

main .main-content-wrapper .controls-wrapper .sorting p:hover:not(:first-child) {
  color: #96bcfd;
}

main .main-content-wrapper .controls-wrapper .sorting p:not(:first-child) {
  cursor: pointer;
}

main .main-content-wrapper .controls-wrapper .layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
  -ms-flex-item-align: center;
      align-self: center;
}

main .main-content-wrapper .controls-wrapper .layout svg {
  width: 30px;
  height: auto;
  margin-left: 20px;
  opacity: 0.3;
  cursor: pointer;
}

main .main-content-wrapper .content-wrapper {
  height: calc(100vh - 70px - 70px - 33px - 20px);
  overflow-y: scroll;
  scrollbar-width: thin;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 25px;
  justify-items: center;
  margin-top: 20px;
}

@media only screen and (max-width: 1500px) {
  main .main-content-wrapper .content-wrapper {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1024px) {
  main .main-content-wrapper .content-wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

main .main-content-wrapper .content-wrapper .card {
  background-color: white;
  width: 95%;
  border-radius: 3px;
  position: relative;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23), 0 -2px 6px rgba(0, 0, 0, 0.13);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23), 0 -2px 6px rgba(0, 0, 0, 0.13);
  -webkit-transition: .2s;
  transition: .2s;
}

main .main-content-wrapper .content-wrapper .card:hover {
  -webkit-box-shadow: 0 3px 8px rgba(51, 72, 155, 0.356), 0 3px 8px rgba(51, 72, 155, 0.356), 0 -2px 8px rgba(29, 62, 133, 0.28);
          box-shadow: 0 3px 8px rgba(51, 72, 155, 0.356), 0 3px 8px rgba(51, 72, 155, 0.356), 0 -2px 8px rgba(29, 62, 133, 0.28);
  -webkit-transition: .2s;
  transition: .2s;
}

main .main-content-wrapper .content-wrapper .card:nth-last-child(-n+4) {
  margin-bottom: 30px;
}

main .main-content-wrapper .content-wrapper .card:nth-child(-n+4) {
  margin-top: 5px;
}

main .main-content-wrapper .content-wrapper .card:before {
  content: "";
  display: block;
  padding-top: 100%;
}

main .main-content-wrapper .content-wrapper .card .content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

main .main-content-wrapper .content-wrapper .card .content a {
  display: contents;
}

main .main-content-wrapper .content-wrapper .card .content a .thumb {
  width: 97%;
  height: 60%;
  background-color: #e1e1e1;
  margin: auto;
  margin-top: 3%;
  border-radius: 3px;
  cursor: pointer;
}

@media only screen and (max-width: 1500px) and (min-width: 1300px) {
  main .main-content-wrapper .content-wrapper .card .content .name {
    font-size: 1.5vw !important;
  }
  main .main-content-wrapper .content-wrapper .card .content .info {
    font-size: 1.3vw !important;
  }
  main .main-content-wrapper .content-wrapper .card .content .inner-wrapper p {
    line-height: 1.8vw !important;
    font-size: 1.8vw !important;
  }
  main .main-content-wrapper .content-wrapper .card .content .inner-wrapper svg {
    height: 1.5vw !important;
  }
}

@media only screen and (max-width: 1024px) {
  main .main-content-wrapper .content-wrapper .card .content .name {
    font-size: 1.5vw !important;
  }
  main .main-content-wrapper .content-wrapper .card .content .info {
    font-size: 1.3vw !important;
  }
  main .main-content-wrapper .content-wrapper .card .content .inner-wrapper p {
    line-height: 1.8vw !important;
    font-size: 1.8vw !important;
  }
  main .main-content-wrapper .content-wrapper .card .content .inner-wrapper svg {
    height: 1.5vw !important;
  }
}

main .main-content-wrapper .content-wrapper .card .content .name {
  font-weight: bold;
  font-size: 1.2vw;
  margin: 0 0 0 3%;
}

main .main-content-wrapper .content-wrapper .card .content .info {
  font-size: 1vw;
  margin: 0 0 0 3%;
}

main .main-content-wrapper .content-wrapper .card .content .inner-wrapper {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: absolute;
  bottom: 3px;
}

main .main-content-wrapper .content-wrapper .card .content .inner-wrapper p {
  margin: 0 0 0 3%;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 1.8vw;
  font-size: 1.4vw;
  color: #96bcfd;
}

main .main-content-wrapper .content-wrapper .card .content .inner-wrapper svg {
  height: 1.5vw;
  width: auto;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 5%;
  opacity: 0.15;
  cursor: pointer;
}

main .main-content-wrapper .content-wrapper::-webkit-scrollbar {
  width: 10px;
  opacity: 0;
}

main .main-content-wrapper .content-wrapper::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 5px;
  background-color: #a0a0a0;
}

main .main-content-wrapper .content-wrapper::-webkit-scrollbar-thumb:active {
  background-color: #5f5f5f;
}

main .place-ad {
  width: 120px;
  height: 120px;
  background-color: black;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16), 0 5px 8px rgba(0, 0, 0, 0.23);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16), 0 5px 8px rgba(0, 0, 0, 0.23);
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  cursor: pointer;
}

main .place-ad img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 50%;
  height: auto;
  -webkit-transition: ease-in-out .6s;
  transition: ease-in-out .6s;
}

main .place-ad:hover img {
  -webkit-transition: ease-in-out .6s;
  transition: ease-in-out .6s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media only screen and (max-width: 1440px) {
  main .place-ad {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 1024px) {
  main .place-ad {
    width: 80px;
    height: 80px;
  }
}

.displayed {
  max-height: 600px !important;
}

.rotated {
  -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}
/*# sourceMappingURL=housing.css.map */